body, button {
  font-family: 'Montserrat', sans-serif;
}

nav>a {
  font-family: 'Pacifico', cursive;
}

nav>a {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

nav>a:focus {
  outline: none !important;
}

#pincode-input {
  width: 440px;
}

#district-options select{
  width: 240px;
}

#filters select {
  min-width: 140px;
}

footer {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.card-result {
  min-height: 355px;
}

.btn-control {
  margin-left: 1.5rem;
}

@media(max-width: 768px) {
  #district-options select{
    width: 280px;
  }
  #pincode-input {
    width: 80vw;
  }
  .card-result {
    min-height: initial;
  }
  footer {
    padding-bottom: 1rem;
  }
  .btn-control {
    margin-left: 0;
  }
  .btn-control>.control>button {
    width: 140px;
  }
  .field.is-grouped>.control:not(:last-child) {
    margin-right: 0;
  }
}